improved_ai_exam_workflow_fixed_final.json
{
    "name": "Improved AI Exam Workflow - Fixed Final",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "generate-exam-v2",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "webhook-trigger",
            "name": "Webhook Trigger",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                240,
                300
            ],
            "webhookId": "generate-exam-v2"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://host.docker.internal:8000/api/v1/admin/exam-templates/save-draft",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "contentType": "json",
                "body": "{\n  \"name\": \"AI Exam - {{ $json.position_name }} ({{ $json.programmingLanguage }})\",\n  \"description\": \"AI-generated exam for {{ $json.position_name }} position in {{ $json.department_name }}, {{ $json.company_name }}\",\n  \"programming_language\": \"{{ $json.programmingLanguage }}\",\n  \"duration_minutes\": {{ $json.examDuration }},\n  \"metadata\": {\n    \"config\": {\n      \"company_name\": \"{{ $json.company_name }}\",\n      \"department_name\": \"{{ $json.department_name }}\",\n      \"position_name\": \"{{ $json.position_name }}\",\n      \"programming_language\": \"{{ $json.programmingLanguage }}\",\n      \"difficulty_level\": \"{{ $json.difficultyLevel }}\",\n      \"multiple_choice_count\": {{ $json.multipleChoiceCount }},\n      \"coding_question_count\": {{ $json.codingQuestionCount }}\n    }\n  }\n}",
                "options": {}
            },
            "id": "save-draft",
            "name": "Save Draft Exam",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                460,
                300
            ]
        },
        {
            "parameters": {
                "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-pro:generateContent?key=AIzaSyCf_LcAwCSeSV7qYYATtHY-0MF8fVGr4xw",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "contentType": "json",
                "body": "{\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"Create {{ $node['Webhook Trigger'].json.multipleChoiceCount || 5 }} multiple choice questions and {{ $node['Webhook Trigger'].json.codingQuestionCount || 2 }} coding questions for {{ $node['Webhook Trigger'].json.programmingLanguage || 'JavaScript' }} at {{ $node['Webhook Trigger'].json.difficultyLevel || 'Mid' }} level.\\n\\nIMPORTANT: You MUST include this exam_id in your response: {{ $node['Save Draft Exam'].json.exam_id }}\\n\\nRespond with this EXACT JSON structure:\\n{\\n  \\\"exam_id\\\": \\\"{{ $node['Save Draft Exam'].json.exam_id }}\\\",\\n  \\\"questions\\\": [\\n    {\\n      \\\"type\\\": \\\"multiple_choice\\\",\\n      \\\"question\\\": \\\"What is a variable in {{ $node['Webhook Trigger'].json.programmingLanguage }}?\\\",\\n      \\\"options\\\": [\\\"A storage location\\\", \\\"A function\\\", \\\"A loop\\\", \\\"A condition\\\"],\\n      \\\"correct_answer\\\": \\\"A storage location\\\",\\n      \\\"difficulty\\\": \\\"{{ $node['Webhook Trigger'].json.difficultyLevel }}\\\"\\n    },\\n    {\\n      \\\"type\\\": \\\"coding\\\",\\n      \\\"question\\\": \\\"Write a function that returns the sum of two numbers\\\",\\n      \\\"expected_output\\\": \\\"function sum(a, b) { return a + b; }\\\",\\n      \\\"difficulty\\\": \\\"{{ $node['Webhook Trigger'].json.difficultyLevel }}\\\"\\n    }\\n  ]\\n}\\n\\nGenerate exactly {{ $node['Webhook Trigger'].json.multipleChoiceCount || 5 }} multiple choice and {{ $node['Webhook Trigger'].json.codingQuestionCount || 2 }} coding questions.\"\n        }\n      ]\n    }\n  ],\n  \"generationConfig\": {\n    \"temperature\": 0.8,\n    \"maxOutputTokens\": 3000\n  }\n}",
                "options": {}
            },
            "id": "google-ai-request",
            "name": "Google AI Request",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                680,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "// Extract the AI-generated response and prepare for database update\nconst webhookData = $node['Webhook Trigger'].json;\nconst draftData = $node['Save Draft Exam'].json;\nconst googleResponse = $node['Google AI Request'].json;\n\n// Extract the AI-generated text\nconst aiText = googleResponse.candidates[0].content.parts[0].text;\n\n// Parse the AI response to extract JSON\nlet aiQuestions;\ntry {\n  // Remove markdown code blocks if present\n  const cleanText = aiText.replace(/```json\\n?|```\\n?/g, '').trim();\n  aiQuestions = JSON.parse(cleanText);\n} catch (error) {\n  // Fallback if parsing fails\n  aiQuestions = {\n    exam_id: draftData.exam_id,\n    questions: [{\n      type: \"multiple_choice\",\n      question: \"What is a variable in \" + webhookData.programmingLanguage + \"?\",\n      options: [\"A storage location\", \"A function\", \"A loop\", \"A condition\"],\n      correct_answer: \"A storage location\",\n      difficulty: webhookData.difficultyLevel\n    }],\n    error: \"Failed to parse AI response: \" + error.message,\n    raw_ai_response: aiText\n  };\n}\n\n// Ensure exam_id is included\nif (!aiQuestions.exam_id) {\n  aiQuestions.exam_id = draftData.exam_id;\n}\n\n// Prepare the update payload\nconst updatePayload = {\n  exam_id: draftData.exam_id,\n  questions: aiQuestions.questions || [],\n  ai_metadata: {\n    model: googleResponse.modelVersion,\n    tokens_used: googleResponse.usageMetadata?.totalTokenCount || 0,\n    response_id: googleResponse.responseId,\n    generation_time: new Date().toISOString(),\n    raw_response: aiText\n  },\n  status: \"completed\"\n};\n\nreturn [{\n  json: updatePayload\n}];"
            },
            "id": "process-ai-response",
            "name": "Process AI Response",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                900,
                300
            ]
        },
        {
            "parameters": {
                "method": "PUT",
                "url": "http://host.docker.internal:8000/api/v1/admin/exam-templates/{{ $json.exam_id }}/update-with-questions",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "contentType": "json",
                "body": "{\n  \"exam_id\": {{ $json.exam_id }},\n  \"questions\": {{ JSON.stringify($json.questions) }},\n  \"metadata\": {\n    \"ai_generation\": {{ JSON.stringify($json.ai_metadata) }},\n    \"status\": \"{{ $json.status }}\"\n  }\n}",
                "options": {}
            },
            "id": "update-exam",
            "name": "Update Exam with Questions",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1120,
                300
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "{\n  \"success\": true,\n  \"message\": \"AI exam generated successfully with improved workflow\",\n  \"exam_id\": \"{{ $node['Save Draft Exam'].json.exam_id }}\",\n  \"questions_generated\": {{ $node['Process AI Response'].json.questions.length }},\n  \"ai_metadata\": {\n    \"model\": \"{{ $node['Process AI Response'].json.ai_metadata.model }}\",\n    \"tokens_used\": {{ $node['Process AI Response'].json.ai_metadata.tokens_used }},\n    \"generation_time\": \"{{ $node['Process AI Response'].json.ai_metadata.generation_time }}\"\n  },\n  \"exam_details\": {\n    \"programming_language\": \"{{ $node['Webhook Trigger'].json.programmingLanguage }}\",\n    \"difficulty_level\": \"{{ $node['Webhook Trigger'].json.difficultyLevel }}\",\n    \"duration_minutes\": {{ $node['Webhook Trigger'].json.examDuration }},\n    \"multiple_choice_count\": {{ $node['Webhook Trigger'].json.multipleChoiceCount }},\n    \"coding_question_count\": {{ $node['Webhook Trigger'].json.codingQuestionCount }}\n  },\n  \"workflow_version\": \"v2-improved-fixed\",\n  \"timestamp\": \"{{ new Date().toISOString() }}\"\n}",
                "options": {}
            },
            "id": "send-response",
            "name": "Send Response",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1340,
                300
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "{\n  \"success\": false,\n  \"error\": \"Failed to save draft exam\",\n  \"message\": \"Could not create initial exam record\",\n  \"details\": {{ JSON.stringify($node['Save Draft Exam'].json) }},\n  \"timestamp\": \"{{ new Date().toISOString() }}\"\n}",
                "options": {}
            },
            "id": "error-draft",
            "name": "Error - Draft Failed",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                460,
                480
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "{\n  \"success\": false,\n  \"error\": \"Google AI request failed\",\n  \"message\": \"Could not generate questions using AI\",\n  \"exam_id\": \"{{ $node['Save Draft Exam'].json.exam_id }}\",\n  \"details\": {{ JSON.stringify($node['Google AI Request'].json) }},\n  \"timestamp\": \"{{ new Date().toISOString() }}\"\n}",
                "options": {}
            },
            "id": "error-ai",
            "name": "Error - AI Failed",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                680,
                480
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "{\n  \"success\": false,\n  \"error\": \"Failed to update exam with questions\",\n  \"message\": \"Questions generated but database update failed\",\n  \"exam_id\": \"{{ $node['Save Draft Exam'].json.exam_id }}\",\n  \"questions_generated\": {{ $node['Process AI Response'].json.questions.length }},\n  \"details\": {{ JSON.stringify($node['Update Exam with Questions'].json) }},\n  \"timestamp\": \"{{ new Date().toISOString() }}\"\n}",
                "options": {}
            },
            "id": "error-update",
            "name": "Error - Update Failed",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1120,
                480
            ]
        }
    ],
    "connections": {
        "Webhook Trigger": {
            "main": [
                [
                    {
                        "node": "Save Draft Exam",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Save Draft Exam": {
            "main": [
                [
                    {
                        "node": "Google AI Request",
                        "type": "main",
                        "index": 0
                    }
                ]
            ],
            "error": [
                [
                    {
                        "node": "Error - Draft Failed",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Google AI Request": {
            "main": [
                [
                    {
                        "node": "Process AI Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ],
            "error": [
                [
                    {
                        "node": "Error - AI Failed",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Process AI Response": {
            "main": [
                [
                    {
                        "node": "Update Exam with Questions",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Update Exam with Questions": {
            "main": [
                [
                    {
                        "node": "Send Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ],
            "error": [
                [
                    {
                        "node": "Error - Update Failed",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1"
    },
    "versionId": "improved-v2-fixed-final",
    "meta": {
        "templateCredsSetupCompleted": true
    },
    "id": "improved-ai-exam-workflow-fixed-final",
    "tags": [
        {
            "createdAt": "2025-06-15T16:00:00.000Z",
            "updatedAt": "2025-06-15T16:00:00.000Z",
            "id": "ai-exam-generation",
            "name": "AI Exam Generation"
        }
    ]
}