backend/minimal_test_workflow.json
{
    "name": "Minimal Test Workflow",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "generate-exam",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "webhook-trigger",
            "name": "Webhook Trigger",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                240,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "// Simple test - just return success\nconst inputData = $input.first().json;\nconsole.log('Received:', JSON.stringify(inputData));\n\nreturn {\n  success: true,\n  message: 'Webhook is working!',\n  received_data: inputData,\n  timestamp: new Date().toISOString()\n};"
            },
            "id": "simple-response",
            "name": "Simple Response",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                460,
                300
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ $json }}"
            },
            "id": "webhook-response",
            "name": "Webhook Response",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                680,
                300
            ]
        }
    ],
    "connections": {
        "Webhook Trigger": {
            "main": [
                [
                    {
                        "node": "Simple Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Simple Response": {
            "main": [
                [
                    {
                        "node": "Webhook Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": true,
    "settings": {},
    "versionId": "1"
}